{% load static %}
<div class="row">
    <div class="col-lg-2 col-sm-1"></div>
    <div class="col-lg-8 col-sm-10 rounded round">
        <nav class="navbar  navbar-expand-lg navbar-light bg-white">
            <div class="rounded container-fluid">
                
                <a class="navbar-brand" href="{% url 'index' %}"><img width="50" src="{% static 'jofin.png' %}" alt="Logo"
                        class="img-fluid rounded-circle" alt="...">&nbsp; <strong class="font-monospace fs-4">Jofin  F Archbald</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item px-4">
                            <a class="nav-link fs-5" href="{% url 'projects' %}">Projects</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link fs-5" href="{% url 'resume' %}">Resume</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link fs-5" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-lg-2 col-sm-1"></div>
</div>