{% extends 'main.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row py-5"></div>
    {% include 'navbar.html' %}
    <div class="row pt-5"></div>
    <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10">
            <div class="hstack gap-3">
                <div style="width: 3px;" class="vr"></div>
                <h1 class="display-5 fw-bold">Certifications</h1>
            </div>

            <p class="fs-4 fw-light lh-lg">Some of the trainings🏋️ I have embarked.</p>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>
    <div class="row py-3"></div>
    <div class="row">
        <div class="col-lg-2 col-sm-1"></div>
        <div class="col-lg-8 col-sm-10">
            <div class="list-group list-group">
                {% for certificate in certificates %}
                <a href="{{ certificate.link }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1 fs-3">{{ certificate.title }}</h5>
                    </div>
                    <div class="hstack gap-2">
                        <div style="width: 1px;" class="vr"></div>
                        <p class="mb-1 fs-5 fw-light fst-italic">{{ certificate.institute }}</p>
                    </div>
                  </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-2 col-sm-1"></div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}